---
import Base from "../layouts/Base.astro";
---

<Base titre="Accueil">
	<h1>Accueil</h1>
	<p class="mb-5">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptate
		vitae nesciunt quia fugit excepturi provident rem saepe quasi omnis cum
		perferendis, ipsum mollitia earum natus iure dolorum nemo recusandae.
	</p>
	<p class="mb-5">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptate
		vitae nesciunt quia fugit excepturi provident rem saepe quasi omnis cum
		perferendis, ipsum mollitia earum natus iure dolorum nemo recusandae.
	</p>
	<p class="mb-5">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptate
		vitae nesciunt quia fugit excepturi provident rem saepe quasi omnis cum
		perferendis, ipsum mollitia earum natus iure dolorum nemo recusandae.
	</p>
	<p class="mb-5">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptate
		vitae nesciunt quia fugit excepturi provident rem saepe quasi omnis cum
		perferendis, ipsum mollitia earum natus iure dolorum nemo recusandae.
	</p>
	<p class="mb-5">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptate
		vitae nesciunt quia fugit excepturi provident rem saepe quasi omnis cum
		perferendis, ipsum mollitia earum natus iure dolorum nemo recusandae.
	</p>
	<p class="mb-5">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptate
		vitae nesciunt quia fugit excepturi provident rem saepe quasi omnis cum
		perferendis, ipsum mollitia earum natus iure dolorum nemo recusandae.
	</p>
	<p class="mb-5">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptate
		vitae nesciunt quia fugit excepturi provident rem saepe quasi omnis cum
		perferendis, ipsum mollitia earum natus iure dolorum nemo recusandae.
	</p>
	<p class="mb-5">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptate
		vitae nesciunt quia fugit excepturi provident rem saepe quasi omnis cum
		perferendis, ipsum mollitia earum natus iure dolorum nemo recusandae.
	</p>
	<p class="mb-5">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptate
		vitae nesciunt quia fugit excepturi provident rem saepe quasi omnis cum
		perferendis, ipsum mollitia earum natus iure dolorum nemo recusandae.
	</p>
	<p class="mb-5">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptate
		vitae nesciunt quia fugit excepturi provident rem saepe quasi omnis cum
		perferendis, ipsum mollitia earum natus iure dolorum nemo recusandae.
	</p>
	<p class="mb-5">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex voluptate
		vitae nesciunt quia fugit excepturi provident rem saepe quasi omnis cum
		perferendis, ipsum mollitia earum natus iure dolorum nemo recusandae.
	</p>
</Base>