---
import Base from "../layouts/Base.astro";
import Card from "../components/Card.astro";

import { allMaison } from "../../backend/backend.mjs";
const offres = await allMaison();
---

<Base titre="Offres">
	<h1 class="text-4xl font-bold mb-10">Offres</h1>

	<div x-data="{showFavoris: false}" class="space-y-5">
		<button @click="showFavoris = !showFavoris" class="bg-red-400 px-5 py-2 rounded-2xl font-bold">
			<span x-show="!showFavoris">Afficher les favoris</span>
			<span x-show="showFavoris">Afficher tout</span>
		</button>

		<div x-show="!showFavoris" x-transition="" class="grid grid-cols-3 gap-7">
			{
				offres.map((offre) => (
					<ul>
						<Card {...offre}/>
					</ul>
				))
			}
		</div>
		<div x-show="showFavoris" x-transition="" class="grid grid-cols-3 gap-7">
			{
				offres.map((offre) => (
					<ul>
						{offre.favori && <Card {...offre}/>}
					</ul>
				))
			}
		</div>
	</div>
</Base>
