---
import Base from "../layouts/Base.astro";
---

<Base titre="Offres">
	<h1>Offres</h1>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat esse
		adipisci sequi cupiditate quia minus corrupti laboriosam consequuntur
		commodi corporis omnis possimus aut, ipsam voluptates perferendis
		deserunt voluptate id! Praesentium.
	</p>
</Base>