---
const {
    Nom,
    Prenom,
    email,
    id
} = Astro.props;;
---

<div class="bg-white text-black flex-auto flex-col gap-3 rounded-lg p-5 w-1/4">
    <a href={`/agent/${id}`}>
        <p class="font-bold text-2xl">{Prenom} {Nom}</p>
        <p class="text-gray-500">{email}</p>
    </a>
</div>
